* {
    margin: 0;
    padding: 0;
    font-style: normal;
}

.block-header-wrapper {
    width: 430px;
    height: 400px;
    border-radius: 6px;
    background: #FFFFFF;
}

.primary-txt {
    font: 600 16px 'Roboto';
    color: #828282;
    padding-top: 28px;
    margin-left: 45px;
}

.num-txt {
    font: 500 40px 'Roboto';
    color: #0B1354;
    margin-top: 4px;
    margin-left: 45px;
}

.txt-sec {
    font: 400 14px 'Roboto';
    color: #4F4F4F;
    margin-top: 4px;
    margin-left: 45px;
}

.hr {
    background: #ECECEC;
    height: 2px;
    width: 100%;
    margin-top: 27.14px;
}

.graph {
    display: flex;
}

.img {
    background-image: url(img/img1.png);  
    background-size: contain;  
    width: 197px;
    height: 197px;
    margin-left: 22.86px;
}

.product {
    font: 400 12px 'Inter';
    color: #4F4F4F;
    margin-top: 32.86px;
}

.block-1,
.block-2,
.block-3 {
    display: flex;
    margin-bottom: 8px;
}

.rectangle {
    width: 21px;
    height: 8px;
    margin-top: 3px;
}

.block-1 .rectangle {
    background: #165BAA;
}

.block-2 .rectangle {
    background: #F765A3;;
}

.block-3 .rectangle {
    background: #16BFD6;;
}

.title {
    margin-left: 9px;
}

.block-header-wrapper-2 {
    width: 430px;
    height: 448px;
    background: #2C2D33;
    border-radius: 6px;
}

.num-txt-2 {
    font: 500 40px 'Roboto';
    color: #FFFFFF;
    margin-top: 6px;
    margin-left: 45px;
}

.txt-sec-2 {
    font: 400 14px 'Roboto';
    color: #FFFFFF;
    margin-top: 6px;
    margin-left: 45px;
}

.hr-2 {
    background: #4F4F4F;
    height: 2px;
    width: 100%;
    margin-top: 23px;
}

.graph-2 .img {
    background-image: url(img/img2.svg);    
    width: 365.47px;
    height: 197px;
    margin-top: 18px;
    margin-left: 29px;
}

.product-2 {
    display: flex;
    font: 400 12px 'Inter';
    color: #FFFFFF;
    margin: 40px 0px 36px 72px;
}

.product-2 .block-1,
.product-2 .block-2,
.product-2 .block-3 {
    display: flex;
    padding-right: 14px;
}

.product-2 .block-1 .rectangle {
    background: #165BAA;
}

.product-2 .block-2 .rectangle {
    background: #A155B9;
}

.product-2 .block-3 .rectangle {
    background: #F765A3;
}